header.header{
    background-color: white;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
}

header.header h1{
    font-size: 1.8em;
}

.mt-3 i{
    padding-right: 10px;
}

@media(max-width: 768px){
    .text-muted{
        font-size: 0.85em
    }
}