aside.menu-area{
    background-color: #1a2f3af3;
    box-shadow: 
        2px 0px 10px 0px rgba(0,0,0, 0.12),
        2px 0px 15px 0px rgba(0,0,0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: 300;
    
}

.menu a:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}
.menu a i {
    padding-right: 10px;
}